<a class="item">
    Chatroom
</a>
<a class="item">
    Messages
</a>
<div class="right menu">
    <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
            <a class="item"><%= link_to 'Log out', logout_path, method: :delete %></a>
            <a class="item"><%= link_to 'Log in', login_path %></a>
            <a class="item"><%= link_to 'Sign up', signup_path %></a>
        </div>
    </div>
    <div class="item">
        <div class="ui primary button">Log in</div>
    </div>
</div>